$bg: #efefef;
$dark: #232323; 
$light: #fefefe;
$active: #e23b13;
$blue: #293847;

.container-generator{

	width: 100vw;
	height: 100vh;
	background: #eaeaea;  /* fallback for old browsers */
	color: $dark;

	.left-bar{
		width: 350px;
		height: 100vh;
		background: $light;
		text-align: center;
		display: inline-block;
		vertical-align: top;

		h2{
			font-size: 32px;
			margin: 30px 0;
		}

		input, select{
			display: inline-block;
		    width: 300px;
		    padding: 14px 10px;
		    border: 0;
		    border-bottom: 2px solid $blue;
		    outline: none;
		    margin-bottom: 25px;
		    transition: all .3s ease;

		    &:focus{
		    	border-bottom: 2px solid $active;
		    }
		}

		button{
			border:none;
			padding: 10px 15px;
			cursor: pointer;

			&:hover i{
				color: $active;
			}
		
			i{
				color: $blue;
			}
		}

		button.resetBtn{
			margin-top: 50px;
		    width: 300px;
		    background: #293847;
		    color: white;
		    padding: 15px 10px;
		}
	}

	.generator{
		width: calc(100vw - 350px);
		height: 100vh;
		display: inline-block;

		.place-etiquette{
			width: 300px;
			margin: auto;
		}

		#etiquette{
			width: 300px;

			.container-etiquette{
				width: 300px;
				height: 500px;
				margin: 0 auto;
				background: url('/assets/images/bg.png') top center;
				background-size: cover;

				.brand{
					position:relative;
					display: inline-block;
					width: 120px;
					left: 10px;
					top: 100px;
					font-size: 14px;
					overflow: hidden;
					min-height: 50px;
				}

				.sku{
					position: relative;
					display: inline-block;
					width: 145px;
					top: 100px;
					left: 25px;
					font-size: 14px;
					overflow: hidden;
					min-height: 50px;
				}

				.conso{
					position:relative;
					display: inline-block;
				    top: 282px;
					left: 152px;
				    font-size: 50px;
				    width: 134px;
				    text-align: center;
				    font-weight: 700;
				    overflow: hidden;
				    min-height: 61px;
				}

				.classE {
					position:relative;
				    background: black;
				    height: 40px;
				    left: 235px;
				    width: 55px;
				    color: white;
			        font-weight: 700;
			        text-align: center;
			        padding-top: 10px;
		  		}
			  	.classE:before {
				    border-right: 25px solid black;
				    border-top: 20px solid transparent;
				    border-bottom: 20px solid transparent;
				    content: "";
				    height: 0;
				    left: -25px;
				    position: absolute;
				    top: 0;
				    width: 0;
			  	}
			  	.Appp{
			  		top: 84px;
			  	}
			  	.App{
			  		top: 108px;
			  	}
			  	.Ap{
			  		top: 132px;
			  	}
			  	.A{
			  		top: 158px;
			  	}
			  	.B{
			  		top: 182px;
			  	}
			  	.C{
			  		top: 208px;
			  	}
			  	.D{
			  		top: 232px;
			  	}
			}
		}
	
		.saveBtn{
			position: absolute;
			cursor: pointer;
			width: calc(100vw - 390px);
			margin-left: 20px;
			bottom:20px;
			padding: 16px;
			background: #e23b13;
			border: none;
			color: white;
			font-weight: 700;
			transition: all .3s ease;

			&:hover{
				background: $blue;
			}
		}

		@keyframes spin{
			to{transform:rotate(360deg);}
		}

		.spin{
			animation: spin 1s ease-in-out infinite;
		}

	}

}