
<div class="container-generator">
	
	<div class="left-bar">
		<button (click)="logout()"><i class="fas fa-arrow-left"></i></button>
		
		<h2>Generator</h2>

		<input [(ngModel)]="marque" type="text" placeholder='Marque'>
		<input [(ngModel)]="sku" type="text" placeholder='Sku'>
		<input [(ngModel)]="conso" type="text" placeholder='Consommation'>
		<select [(ngModel)]="class" (change)="changeClassE($event)" id="">
		    <option value="">--Classe énérgetique--</option>
		    <option value="Appp">A+++</option>
		    <option value="App">A++</option>
		    <option value="Ap">A+</option>
		    <option value="A">A</option>
		    <option value="B">B</option>
		    <option value="C">C</option>
		    <option value="D">D</option>
		</select>

		<button (click)="reset()" class="resetBtn">Reset</button>

	</div>

	<div class="generator">

		<div class="place-etiquette">

			<div id="etiquette">
				<div class="container-etiquette">
					<div class="brand">{{marque}}</div>
					<div class="sku">{{sku}}</div>
					<div [ngClass]="'classE ' + class">{{classETxt}}</div>
					<div class="conso">{{conso}}</div>		
				</div>
			</div>
			
		</div>

		<button (click)="exportAndSave()" class="saveBtn" [innerHTML]="buttonText | safeHtml"></button>
	</div>

</div>
